<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DISTRIBUTED STYLE</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/newProductCss.css">
    <!-- RICH TEXT -->
    <script src="https://cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
</head>

<body>
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card mb-5">
                    <div class="card-body p-sm-5">
                        <h2 class="text-center mb-4">Create new composition</h2>
                        <h3 class="text-center mb-4" style="text-transform: uppercase;">{{shopName}}</h3>
                        <h4 class="text-center mb-4" style="text-transform: uppercase;">{{productName}}</h4>
                        <form action="/shops/{{idShop}}/products/{{idProduct}}/redirectNewComposition">
                            <!--div class="mb-3"--><!--input class="form-control" type="text" id="content" name="content" placeholder="Content" required--><!--/--div>
                            <--!textarea id="content" name="content" required--><!--/--textarea-->
                            <div class="mb-3"><textarea class="form-control" name="content" placeholder="Content" required></textarea>
                                <script>
                                    CKEDITOR.replace( 'content' );
                                </script>
                            </div>
                            <div><p></p></div>
                            <div><button class="btn btn-primary d-block w-100" type="submit">Send</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/bootstrap/js/newProductJs.js"></script>

<!--script>
    ClassicEditor
        .create( document.querySelector( '#content' ) )
        .catch( error => {
            console.error( error );
        } );
</script-->

</body>

</html>